* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Regular";
}

@font-face {
    font-family: "light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "black";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

.regular {
    font-family: "Regular";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

.p {
    margin-top: 0;
    margin-bottom: 0;
}

a:hover {
    color: rgb(231, 35, 106);
    text-decoration: none;
}

.page_height {
    height: 100vh;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: rgb(231, 35, 106);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: rgb(231, 35, 106);
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #330c5f;
    transition: all 0.5s;
    z-index: 997;
    /* padding: 20px 0; */
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
}

#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header .logo img {
    max-height: 40px;
}

.img-fluid {
    height: 100%;
    width: 100%;
}

.fixed-top {
    padding: 20px 0px;
    background-color: transparent;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 12.8px;
    font-weight: 600;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
    /* text-transform: uppercase; */
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
/* .navbar .active, */
.navbar .active:focus,
.navbar li:hover>a {
    color: rgb(231, 35, 106);
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 500;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #000;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* background: rgba(7, 25, 33, 0.9); */
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    /* background-color: #fff; */
    overflow-y: auto;
    transition: 0.3s;

}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    /* color: #0f394c; */
    color: #fff;
}

/* .navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: ;
} */

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #49b5e7;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

.footer {
    background: #330c5f;
    color: white;
}

.footer-pages {
    padding: 15px 0px;

}

.footer-links {
    color: white;
    font-family: Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-reserved {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 30px 0px;
    color: rgb(231, 35, 106);
    border-top: 2px solid rgb(231, 35, 106);
    font-size: 12px;
    font-weight: 400;
}

.social-icons .icon i {
    font-size: 24px;
}

.social-icons {
    display: flex;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e7236a;
    color: white;
    text-decoration: none;
}

@media (max-width: 400px) {

    .social-icons span {
        font-size: 10px;
    }

    .social-icons a {
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }
}

/* common css for all pages */
.section {
    margin-top: 80px;
    color: #000;
}

.page-height {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-main-heading {
    margin-top: 80px;
    background: #302453;
    color: #e7236a;
    padding: 10px 0px;
    text-align: center;
}

.content-heading {
    font-family: Regular;
    font-weight: bold;
    color: #e7236a;
}

.content {
    color: #000;
    font-weight: 700
}

/* common css for all pages */
.contact-section {
    margin-top: 80px;
    background-color: #302453;
    color: #fff;
}

.contact-heading {
    margin-top: 80px;
    background: #302453;
    color: #e7236a;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 3px solid #e7236a;
}


.contact-page-height {
    height: 69.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameplay-page-height {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
    height: 69.7vh;
}

@media (max-width: 1200px) {
    .gameplay-page-height {
        height: 66.5vh;
    }
}

@media (max-width: 768px) {
    .gameplay-page-height {
        height: auto;
    }
}

@media (max-width: 576px) {
    .gameplay-page-height {
        height: auto;
    }
}

.conatctus-content-heading {
    font-family: Regular;
    font-weight: bold;
}

.carousel-item {
    text-align: center;
}

.carousel-text {
    color: #e7236a;
    font-size: 14px;
    font-family: Regular;
    font-weight: 700;
}

.carousel-img {
    height: 480px;
    width: 220px;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    z-index: 10;
    color: #e7236a;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}